
@{
    ViewData["Title"] = "notFound";
}

<h1>notFound</h1>
<a asp-action="Index">Back to home </a>
<img src="~/images/1.jpg"
     class="rounded mx-auto d-block"
     height="350" width="300"
     />
<h1> Sorry this page is not found or no longer availble.... </h1>
